@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #010824;
  --accent-color: #030f40;
  --body-text-color: rgba(255, 255, 255, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color:  #010824 ;
    --accent-color: #030f40;
    --body-text-color: rgba(255, 255, 255, 0.75);
  }
}

body {
  color: var(--body-text-color);
  background: linear-gradient(to bottom, transparent, var(--background-color))
    var(--background-color);
}



